WORDPRESS_USERNAME=
WORDPRESS_APP_PASSWORD=
WORDPRESS_SITE_URL=
WORDPRESS_SITE_SLUG=localhost7007
TMDB_API_TOKEN=
BANGUMI_API_TOKEN=
TYPES=tv,anime,movie
RESOURCE_START_DATE=2025-06-25
RESOURCE_START_SCORE=7
STORAGE_DIR=./storage
